<ScrollView>
    <GridLayout>
        <StackLayout>
            <GridLayout class="m-15" rows="auto auto auto auto auto auto auto">
                <StackLayout row="1">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="1" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="2" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="3" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="4" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="2">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="1" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="2" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="3" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="4" col="0">
                            <Label horizontalAlignment="left" text="text 1"></Label>
                            <GridLayout row="2" cols="auto" rows="auto, auto">
                                <TextField required row="1" hint="text 1"></TextField>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="3">
                    <GridLayout rows="auto, auto, auto, auto, auto, auto" cols="auto, auto">
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <GridLayout rows="*,auto" cols="auto, auto">
                                <StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
                                    <Label text="Select country"></Label>
                                    <!-- >> angular-autocomplete-tokens-mode-html -->
                                    <RadAutoCompleteTextView [items]="dataItems" displayMode="Tokens"
                                        showCloseButton="false">
                                        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
                                            <ng-template tkSuggestionItemTemplate let-item="item">
                                                <StackLayout orientation="vertical" padding="10">
                                                    <Label [text]="item.text"></Label>
                                                </StackLayout>
                                            </ng-template>
                                        </SuggestionView>
                                    </RadAutoCompleteTextView>
                                    <!-- << angular-autocomplete-tokens-mode-html -->
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>