<ScrollView>
    <GridLayout class="main-page-content">
        <StackLayout [formGroup]="userprofileForm" class="home-panel">
            <GridLayout class="m-15"
                rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                <!-- Personal Information -->
                <StackLayout row="1" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label horizontalAlignment="left" text="Personal Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <TextField required row="0" class="input-field" hint="First Name"></TextField>
                        </GridLayout>
                        <GridLayout row="2" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Last Name"></TextField>
                        </GridLayout>
                        <GridLayout row="3" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                        <GridLayout class="relative-picker" *ngIf="mode==='edit-relative'" row="5" cols="auto" rows="auto auto auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="2" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label horizontalAlignment="left" text="Personal Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <TextField required row="0" class="input-field" hint="First Name"></TextField>
                        </GridLayout>
                        <GridLayout row="2" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Last Name"></TextField>
                        </GridLayout>
                        <GridLayout row="3" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                        <GridLayout class="relative-picker" *ngIf="mode==='edit-relative'" row="5" cols="auto" rows="auto auto auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="3" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label horizontalAlignment="left" text="Personal Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <TextField required row="0" class="input-field" hint="First Name"></TextField>
                        </GridLayout>
                        <GridLayout row="2" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Last Name"></TextField>
                        </GridLayout>
                        <GridLayout row="3" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                        <GridLayout class="relative-picker" *ngIf="mode==='edit-relative'" row="5" cols="auto" rows="auto auto auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="4" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label horizontalAlignment="left" text="Personal Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <TextField required row="0" class="input-field" hint="First Name"></TextField>
                        </GridLayout>
                        <GridLayout row="2" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Last Name"></TextField>
                        </GridLayout>
                        <GridLayout row="3" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                        <GridLayout class="relative-picker" *ngIf="mode==='edit-relative'" row="5" cols="auto" rows="auto auto auto">
                            <TextField required row="1" class="input-field" hint="Birthday"(tap)="pickDate()"></TextField>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
                <!-- Contact Information -->
                <StackLayout row="5" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto, auto, auto" cols="auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label text="Contact Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Phone"></TextField>
                        </GridLayout>
                        <GridLayout row="2" cols="auto" rows="auto, auto">
                            <TextField required row="1" class="input-field" hint="Email"></TextField>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="6">
                    <Button class="button" [nsRouterLink]="['/address-list']" row="0" col="0" text="Addresses"></Button>
                </StackLayout>
                <!-- Health Information -->
                <StackLayout row="7" class="division">
                    <GridLayout rows="auto, auto, auto, auto, auto, auto" cols="auto, auto">
                        <StackLayout row="0" col="0" class="field-heading">
                            <Label text="Health Information"></Label>
                        </StackLayout>
                        <GridLayout row="1" cols="auto" rows="auto, auto">
                            <GridLayout rows="*,auto" cols="auto, auto">


                                <StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
                                    <Label text="Select country"></Label>
                                    <!-- >> angular-autocomplete-tokens-mode-html -->
                                    <RadAutoCompleteTextView [items]="dataItems" displayMode="Tokens"
                                        showCloseButton="false">
                                        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
                                            <ng-template tkSuggestionItemTemplate let-item="item">
                                                <StackLayout orientation="vertical" padding="10">
                                                    <Label [text]="item.text"></Label>
                                                </StackLayout>
                                            </ng-template>
                                        </SuggestionView>
                                    </RadAutoCompleteTextView>
                                    <!-- << angular-autocomplete-tokens-mode-html -->
                                </StackLayout>


                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
                <!-- Address List -->
                <!-- User Details Buttons -->
                <StackLayout *ngIf="mode!=='edit-relative'" row="6" class="division">
                    <GridLayout rows="auto, auto" cols="auto, auto">
                        <Button *ngIf="mode==='edit'" class="cancel" row="0" col="0" horizontalAlignment="left"
                            text="Cancel" (tap)="[fillUserDetails(),presetToken()]"></Button>
                        <Button *ngIf="mode==='edit'" class="button" row="0" col="1" horizontalAlignment="right"
                            width="30%" text="Save"
                            (tap)="[saveUserData(),autoComplete.nativeElement.readOnly = true]"></Button>
                    </GridLayout>


                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>